---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>https://sinztools.app/</loc>
		<priority>1.0</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/about/</loc>
		<priority>0.5</priority>
		<changefreq>yearly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/contact/</loc>
		<priority>0.5</priority>
		<changefreq>yearly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/privacy-policy/</loc>
		<priority>0.5</priority>
		<changefreq>yearly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/terms/</loc>
		<priority>0.5</priority>
		<changefreq>yearly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/</loc>
		<priority>0.9</priority>
		<changefreq>weekly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/favicon-generator/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/image-compressor/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>	<url>
		<loc>https://sinztools.app/tools/image-resizer/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>	<url>
		<loc>https://sinztools.app/tools/image-converter/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/jpg-to-webp/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/png-to-jpg/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>		<loc>https://sinztools.app/tools/png-to-webp/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>		<loc>https://sinztools.app/tools/webp-to-png/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
	<url>
		<loc>https://sinztools.app/tools/webp-to-jpg/</loc>
		<priority>0.7</priority>
		<changefreq>monthly</changefreq>
	</url>
</urlset>