---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
	{% set baseUrl = "https://www.sinztools.app" %}
	{% set staticPages = [
		"/",
		"/tools/",
		"/about/",
		"/contact/",
		"/privacy-policy/",
		"/terms/"
	] %}

	{% for url in staticPages %}
	<url>
		<loc>{{ baseUrl }}{{ url }}</loc>
		<lastmod>2026-02-02</lastmod>
		{% if url == "/" %}
		<priority>1.0</priority>
		<changefreq>weekly</changefreq>
		{% elseif url == "/tools/" %}
		<priority>0.9</priority>
		<changefreq>weekly</changefreq>
		{% else %}
		<priority>0.5</priority>
		<changefreq>monthly</changefreq>
		{% endif %}
	</url>
	{% endfor %}

	{% for categoryKey, category in tools.categories %}
	{% for tool in category.tools %}
	<url>
		<loc>{{ baseUrl }}/tools/{{ tool.slug }}/</loc>
		<lastmod>2026-02-02</lastmod>
		<priority>0.8</priority>
		<changefreq>monthly</changefreq>
	</url>
	{% endfor %}
	{% endfor %}
</urlset>